* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --white: #fff;
  --black: #000;
  --lightBlack: #2c2c2c;
  --main: #ff6e68;
}
body {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 1300px;
  margin: 0 auto;
}
.nav {
  width: 100%;
  height: 70px;
  box-shadow: 0 5px 20px 2px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  background: var(--white);
  z-index: 1;
}
.nav__container {
  width: 100%;
  display: flex;
  align-items: center;
  height: 60px;
  justify-content: space-between;
}
.nav__left img {
  width: 100px;
}
.header {
  background: url("../src/images/banner.webp");
  width: 100%;
  height: 100vh;
  /* background-repeat: no-repeat; */
}
a {
  text-decoration: none;
}
.cart-icon {
  color: var(--main);
  font-size: 22px;
}
.basket {
  position: relative;
}
.basket span {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -15px;
  top: -10px;
  width: 25px;
  height: 25px;
  background: var(--lightBlack);
  border-radius: 50%;
  color: var(--white);
  font-size: 12px;
}

.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.col-3 {
  width: 25%;
}
.col-6 {
  width: 50%;
}
.mt-100 {
  margin-top: 100px;
}
.product {
  padding: 25px;
  width: 100%;
  overflow: hidden;
}

.product__img {
  width: 100%;
  height: 350px;
  overflow: hidden;
}
.product__img img {
  width: 100%;
  height: 100%;
  transition: all 0.5s linear;
}

.product__img img:hover {
  transform: scale(1.2);
}

.product__name {
  margin: 10px 0;
  text-transform: capitalize;
  color: #707070;
}
.product__discount__price {
  text-align: right;
  font-size: 18px;
}
.product__price .discount {
  color: silver;
  font-weight: 400;
  font-size: 13px;
}
.actualPrice{
  text-decoration: line-through;
  font-size:18px;
}
.details__image{
  width: 100%;
  height: auto;
  padding-right: 30px;
}
.details__image img{
  width: 100%;
  height: auto;
  margin-bottom: 25px;
}
.details__name{
  margin-top:30px;
  font-size: 28px;
	color: #2c2c2c;
	font-weight: 400;
	text-transform: capitalize;
}
.details__prices {
	margin: 10px 0;
}
.details__actual {
	text-decoration: line-through;
	font-size: 20px;
}
.details__discount {
	margin-left: 20px;
	font-size: 20px;
}




.details__incDec{
  display: flex;
}
.inc, .dec, .quantity{
  width:60px;
  height:60px;
  display: flex;
  justify-content:center;
  align-items:center;
  border:1px solid silver;

}
.quantity{
  border-left: none;
  border-right: none;
}

.inc,.dec {
	cursor: pointer;
}

.btn-default {
	margin-left: 10px;
	width: 100%;
	border: none;
	background: var(--main);
	color: var(--white);
	outline: none;
	font-size: 18px;
	text-transform: uppercase;
	cursor: pointer;
}

.details__p {
	margin-top: 15px;
}
.details__p h4 {
	font-weight: 600;
	margin-bottom: 10px;
	font-size: 18px;
}





@media (max-width: 765px) {
  .container {
    width: 100%;
    padding: 0 30px;
  }
  .col-3 {
    width: 50%;
  }
  .col-6 {
    width: 100%;
  }
  .details__image {
    padding-right: 0;
  }
}


@media (max-width: 400px) {
  .col-3 {
    width: 100%;
  }
  .col-6 {
    width: 100%;
  }
  .details__image {
    padding-right: 0;
  }
}


